.{
    box-sizing: border-box;
}
.cont1{
    width: 100%;
    height: auto;
}
.main1{
    width: 100%;
    height: 600px;
    background-image: url(/Tab-MultiPages/imgs/hero-img-slider-1.jpg);
    background-size: cover;
}
.main2{
    width: 100%;
    height: 600px;
    background-image: url(/Tab-MultiPages/imgs/hero-img-slider-2.jpg);
    background-size: cover;
}
.main3{
    width: 100%;
    height: 600px;
    background-image: url(/Tab-MultiPages/imgs/hero-img-slider-3.jpg);
    background-size: cover;
}
.cont2{
    width: 100%;
    height: 400px;
}
.cont3{
    width: 100%;
    height: 600px;
}
.cont4{
    width: 100%;
    height: 200px;
}
.cont5{
    width: 100%;
    /* height: 600px; */
}
.card:hover{
    box-shadow: 2px 2px 5px 5px gainsboro;
}
.cont6{
    width: 100%;
    height: 200px;
}