*{
    box-sizing: border-box;
}
.main1{
    width: 100%;
    height: 80vh;
    background-image: url(/Tab-MultiPages/imgs/home_page.jpg);
    background-size: cover;
}
.main2{
    width: 100%;
    /* height: 500px; */
}
.hov1{
    img:hover{
        transform: scale(1.2);
    }
}